@using CodeInsider.Tui.Assessment.Data;

@{
    Layout = "_Layout";
    IEnumerable<Airport> airports = ViewBag.Airports;
    IEnumerable<Flight> flights = ViewBag.Flights;
}

<select name="Departure" id="departure">
@foreach (var airport in airports){
    <option value="@airport.IataCode">@airport.Name (@airport.IataCode)</option>
    }
</select>
✈️
<select name="Arrival" id="arrival">
@foreach (var airport in airports){
    <option value="@airport.IataCode">@airport.Name (@airport.IataCode)</option>
    }
</select>
<button onclick="addFlight()">Create flight</button>

<div id="flightList">
<table>
    <tr>
        <th>Id</th>
        <th>Departure</th>
        <th>Arrival</th>
    </tr>
@foreach (var flight in flights){

        <tr>
        <td><text>TUI00</text>@flight.Id</td>
        <td>@flight.DepartureAirport.Name (@flight.DepartureAirport.IataCode)</td>
        <td>@flight.ArrivalAirport.Name (@flight.ArrivalAirport.IataCode)</td>
        </tr>
    }
</table>
</div>